@{
  Layout = "_Layout";
}

@model FactoryManager.Models.Engineer
@using FactoryManager.Models

<h2>Engineer Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model=> model.Name): @Html.DisplayFor(model => model.Name)</h3>

<h3>Machines: </h3>
@if(@Model.EngineerEntities.Count == 0)
{
  <p>This Engineer is not qualified to work on any of the machines.</p>
}

@foreach(EngineerMachine join in Model.EngineerEntities)
{
  <li>@Html.ActionLink($"{join.Machine.Name}", "Details", "Machine", new { id = join.Machine.MachineId})</li>
}

<p>@Html.ActionLink("Edit Engineer Profile", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new {id = Model.EngineerId})</p>
<p>@Html.ActionLink("Back to engineers", "Index")</p>
<p>@Html.ActionLink("Return to homepage", "Index", "Home")</p>